doctype html 
html (lang="ko")
    head 
        title #{pageTitle} | Utube04 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") home
                    if loggedIn
                        li
                            a(href="/logout") Log Out
                        li
                            a(href="/my-profile") #{loggedInUser.name}의프로필
                    else 
                        li
                            a(href="/login") Log In 
                        li
                            a(href="/join") JOIN!                    
                    li
                        a(href="/videos/upload") click-upload
                    li 
                        a(href="/search") search video

        main 
            block content
    include partials/footer
    //-pug에서 middlewares.js에 세팅한 locals에 접근한것을 확인할 수 있다